body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#container {
    width: 80vw;
    max-width: 800px;
    display: flex;
    overflow-x: scroll;

    & img {
        object-fit: cover;
        width: 10%;
        height: 400px;
        cursor: pointer;
        transition: .2s ease;
        &:active{
            transform: scale(.95);
        }
    }

    &::-webkit-scrollbar {
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #ff0000;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        margin: 100px;
        /*-webkit-box-shadow: inset 0 0 6px #f06292; */
    }


    &::-webkit-scrollbar-thumb:hover {
        opacity: 0.7;
        background-color: #ff5c5c;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #ff9191;
    }
}


@media (max-width: 780px) {

    /* CSS for screens 780px and below */
    #container img {
        width: 30%;
    }

    #container::-webkit-scrollbar {
        height: 5px;
        /*-webkit-box-shadow: inset 0 0 6px #f06292; */
    }
}

@media (min-width: 781px) {

    /* CSS for screens 781px and larger */
    #container img {
        width: 10%;
    }
}


@media (hover: none) and (pointer: coarse) and (max-width: 780px) {
    /* When media has the properties of a phone */
    #container::-webkit-scrollbar {
        height: 0;
    }
}